.cart-container {
   margin: 100px auto;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.cart-title {
   margin-bottom: 25px;
   color: white;
   font-family: monospace;
   font-size: 2rem;
}

.checkout-link_a {
   text-decoration: none;
   color: aliceblue;
}

.checkout-link_a:hover {
   color: #131313;
}