

.button-count {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: crimson;
   width: 40px;
   height: 20px;
   border-radius: 5px;
   color: aliceblue;
   border: none;
}

.-disabled {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: grey;
   width: 40px;
   height: 20px;
   border-radius: 5px;
   color: aliceblue;
   border: none;
}

.button-count:hover {
   background-color: aliceblue;
   color: #131313;
}

.button-text {
   font-size: 1.5em;
}

.button-item-detail:hover {
   background-color: aliceblue;
   color: #131313;
}

.button-item-detail-disabled {
   width: 75%;
   margin-top: 20px;
   padding: 5px 20px;
   border-radius: 5px;
   background-color: grey;
   color: aliceblue;
   font-size: 1rem;
   border: none;
   align-self: center;
}