@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
  --red: #dc143c;
  --red-alpha: hsla(348, 83%, 47%, 0.350);
  --white: #f0f8ff;
  --black: #131313;
  --background: #282828;
  --grey: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family:'Outfit',sans-serif;
  font-size: 18px;
}

body {
  font-family:'Outfit',sans-serif;
  font-size: 18px;
  background-color: var(--background);
  width: 100vw;
}

.header {
  width: 100%;
  height: 70px;
  background-color: var(--red);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  width: 70px;
}

.header__title {
  font-size: 2rem;
  color: var(--background);
}

.nav-wraper__links {
  display: flex;
  align-items: center;
}

.nav-wraper__link-to {
  color: var(--white);
  padding: 0.5rem;
}

.nav-wraper__link-to:hover {
  color: var(--background);
}

.link-to__bag-icon {
  width: 2rem;
}

.link-to__bag-icon:hover {
  margin-bottom: 10px;
}

.main-wraper {
  width: 100vw;
  height: 100vh;
}

.main-wraper__title {
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 15px;
}

.card-detail {
  width: 600px;
  border-radius: 20px;
  margin: 25px auto;
  background-color: var(--red-alpha);
  padding: 25px;
  display: flex;
  gap: 25px;
}

.card-detail__img {
  border-radius: 10px;
}

.card-detail__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-detail__description__title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.card-detail__description__paragraph {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--white);
}

.paragraph-detail {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--red);
}

.card-detail__buttons-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  background-color: var(--background);
}

.item-count__wraper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #dc143c;
}

.item-count__button {
  background-color: var(--red);
}

.item-count__button__text {
  font-size: 1rem;
}

.item-add-cart__wraper {
  background-color: aqua;
}

.item-add-cart__button {
  width: 100%;
}

.button-disabled {
  background-color: var(--grey);
}