.items-container {
   width: 60%;
   margin: 0px auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.items-container-title {
   margin-top: 100px;
   text-align: center;
}

.category-title {
   color: crimson;
   font-size: 1rem;
   margin-top: 25px;
}

.main-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.buttons-container {
   width: 30%;
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 25px;

}

.button-category-detail {
   margin-top: 20px;
   padding: 5px 20px;
   border-radius: 5px;
   background-color: crimson;
   color: aliceblue;
   font-size: 1rem;
   border: none;
   align-self: center;
}

.button-category-detail:hover {
   background-color: aliceblue;
   color: #131313;
   cursor: pointer;
}