.main-category-container {
   display: flex;
   flex-direction: column;
   width: 75%;
   margin: 0px auto;
}

.items-category-container {
   display: flex;
   justify-content: flex-start;
   gap: 1em;
   flex-wrap: wrap;
}

.items-category-title {
   margin-top: 25px;
   margin-bottom: 25px;
   text-align: center;
   color: white;
   font-family: monospace;
   font-size: 2rem;
}