.item-detail-container {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 50px;
}

.item-detail-title {
   margin-bottom: 25px;
   color: white;
   font-family: monospace;
   font-size: 2rem;
}

.card-detail-container {
   width: 300px;
   display: flex;
   flex-direction:column;
   color: aliceblue;
   padding: 20px 20px;
}

.card-detail-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin-top: 10px;
}

.card-detail-title {
   margin-top: 10px;
   font-size: 1.5rem;
}

.card-detail-description {
   margin: 10px 0;
}
.card-detail-autor {
   margin: 10px 0;
}
.card-detail-editorial {
   margin: 10px 0;
}

.card-detail-category {
   margin: 10px 0;
}