.about-us-container {
      width: 60%;
      margin: 0px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

.about-us-title {
   margin-top: 25px;
   text-align: center;
   color: white;
   font-family: monospace;
   font-size: 2rem;
}

.about-us-subtitle {
   color: crimson;
   font-size: 1rem;
   margin-top: 25px;
}