.card-container {
   border: solid 1px;
   border-radius: 10px;
   width: 250px;
   display: flex;
   flex-direction:column;
   align-items: center;
   color: aliceblue;
   padding: 10px 10px;
}

.card-title {
   font-size: 1rem;
}

.card-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin-top: 10px;
   margin-bottom: 20px;
}

.card-price {
   font-size: 1.5rem;
}

.button-item-detail {
   width: 80%;
   margin-top: 20px;
   padding: 10px 20px;
   border-radius: 5px;
   background-color: crimson;
   color: aliceblue;
   font-size: 1rem;
   border: none;
}

.button-item-detail:hover {
   background-color: aliceblue;
   color: #131313;
   cursor: pointer;
}