.contact-container {
   width: 60%;
   margin: 100px auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.contact-title {
   margin-top: 25px;
   text-align: center;
   color: white;
   font-family: monospace;
   font-size: 2rem;
}

.contact-subtitle {
   color: crimson;
   font-size: 1rem;
   margin-top: 25px;
}